# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
logs/
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .vscode directory (Visual Studio Code)
.vscode/

# Ignore IDE-specific files
*.idea/

# Ignore cache directories
.cache/
